body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS';
}


/* texto */

h1{
    font-size: 70px;
    width: 500px;
    padding-left: 40px;
}

p{
    width: 450px;
}

/* imagenes */
