body{
    background-image: url(https://wallpapercat.com/w/full/4/1/a/945734-1920x1080-desktop-full-hd-matte-black-background.jpg);
    color: aliceblue;
    background-repeat: none;
    background-size:cover;
    margin: 0;
    font-family: sans-serif;
}

header{
    height: 100vh;
}

nav{
    background-color: rgb(135, 139, 139);
    padding-top: 1px;   
}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-especial{
    color: orange;
    font-weight: bolder;
    font-size: x-large;
    list-style-type: none;
    margin-bottom: 13px;
}

.nav-list{
    font-size: medium;
    font-weight: bold;
    list-style-type: none;
    margin-bottom: 10px;
}

span{
    color: orange;
}

button{
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: solid 1px black;
    color: aliceblue;
}

.div1, .div2{
    width: 25%;
}

.div2{
    background-color: orange;
    padding:30px;
    border-radius: 15px;
    border: solid black 2px;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    gap: 70px;
}
