body{
    padding: 0;
    margin: 0;   
    font-family: sans-serif;
}

/* Caja */

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-bottom: 40px;


}
    
.div-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
}


/* Texto */

.big-title{
    font-size:90px;
}

.text-p{
    width: 400px;
    line-height: 1.5
}

/* boton */

button{
    width: 155px;
    height: 50px;
    text-align: center;
}

.boton-ready{
    padding: 15px;
    border-radius: 15px;
    background-color: #222;
    color:white;
}

/* imagen */

.imagen{
    display: flex;
    justify-content:center;
    margin: auto;
    align-items: center;
    
}


   


