h1{
    color: brown;
}

/* para id */
#t1{
    color: orange;
}
#t2{
    color: black;
    background-color: blue;
}
#t3{
    font-weight: bold;
}

/* para clase */

.hola {
    color: aqua;
    background-color: brown;
}
