body{
    font-family: Georgia;

}

.card{
    background-color:royalblue;
    color:black;
    width: auto;
    display: block;
    max-width: 300px;
   
 
    
    /* Padding, Arriba, Abajo, Derecha e Izquierda */
    /* padding-top:20px;
    padding-right: 40px;
    padding-left: 60px;
    padding-bottom: 80px; */
    
    padding: 15px 45px;
    
 
 
    

   
    /* border-color:pink; */

    /* border-width:20px; */
    /* border-top-width:20px;
    border-bottom-width:20px;
    border-left-width:20px;
    border-right-width:20px; */

    /* border-width: 20px; */
    
    /* double, dashed, dotted, groove, ridge */
    
    /* border-top-style:dotted;
    border-bottom-style:double;
    border-left-style:dashed;
    border-right-style:ridge; */
   
    /* border-style: dashed; */

    /* border-bottom-color:yellow;
    border-top-color:black;
    border-left-color:red;
    Border-right-color:pink; */

    border: 5px solid chocolate;



    
}

.card--one
{
    /* margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 10px; */

    margin: 50px 30px 70px 10px;
}
