
/* Imagen reloj */
img{
    height: 110px;
    width: 110px;
}

/* Tabla */
    table {
        border-collapse: collapse;
        font-weight: bolder;
    }


/* Columnas y filas */
    th, td{
        width:15%;
        height: 70px;
        text-align: center;
        border: solid black 1px;
    }

/* clases  */
.manualidades{
    background-color: rgb(248, 189, 79);
}

.arte{
    background-color: rgb(6, 175, 6);
}

.tutoria{
    background-color:rgb(185, 185, 185);
}

.espacial{
    background-color: yellow;
}
   
.modelismo{
    background-color: darkkhaki;
}

.latin{
    background-color: rgb(243, 142, 175);
}

.refuerzo{
    background-color: rgb(228, 74, 228);
}

.japones{
    background-color: rgb(2, 207, 207);
}

.cartografia{
    background-color: rgb(243, 194, 104);
}

.robotica{
    background-color: rgb(177, 142, 177);
}

.bachillerato{
    background-color: rgb(228, 74, 228);
}