body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navegador menú */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul{
    display: flex;
    gap: 100px;
}

.nav-items{
    list-style-type: none;
    font-weight: bold;
}

.div-ul{
    display: flex;
    padding: 20px;
    justify-content: center;
    

}

/* Logo and login icons */
.logo{
    margin-left: 50px;
    font-weight: bolder ;
    border: solid black 2px;
    font-size: larger;
    
}

.icon-login{
    list-style-type: none;
    margin-right: 30px;
    
}


