body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2{
    text-align: center;
    margin-top: 10px;
}

.contenedor{
display: flex;
align-items: center;
flex-direction: column;
}

.second-table{
    outline-offset: 3px;
    border-collapse: collapse;
    margin: auto;
    border: solid black 1px;
   
}



.second-table th, .second-table td{
    padding: 15px 25px 15px 25px;
    width: 150px;
    border: 2px solid black;
    text-align: center;
}

.second-table td{
    text-align: left;
}

#title{
    border: 1px;
}

#study{
    height: 2px;
    width: 250px;
}

#title, #sub-title{
    color: green;
    border: none;
}

