body{
    margin: 0;
    background-image: url(photo-1457369804613-52c61a468e7d.jpeg);
    padding: 50px;
}

main{
    background-color: brown;
    border-radius: 20px;
    padding: 40px;
}

h1{
    border: yellow 5px solid;
    padding: 8px;   
    font-family: doto;

}

h2{
    border: pink solid 5px;
    padding: 3px;
    color: rgb(255, 255, 255);
}

ul{
    border: greenyellow solid 5px;
}

ul li{
    padding: 15px;
    color: rgb(30, 131, 131);
}

#descripcion{
    background-color: #20487c;
    padding: 50px 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 65px;
    
}

#descripcion h2 {
    color: orange;
    border: none;
}

h2{
    border: orange solid ;
    color:rgb(255, 255, 255) ;
    
}

.title112{
    color: white;
}