body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: larger;
}



/* Tablas general */


.main{
    padding: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

th,td{
    border-radius: 20px;
    border: solid black 2px;
}

.TablasDeMultiplicar{
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 20px;
    
}




/* Tabla del 1 */
.Tabla1{
    color: black;
    font-weight: bolder;
    padding: 5px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}



/* Tabla del 2 */
.Tabla2{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}


/* Tabla del 3 */
.Tabla3{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}


/* Tabla del 4*/
.Tabla4{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}
    
/* Tabla del 5 */
.Tabla5{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}


/* Tabla del 6 */
.Tabla6{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}


/* Tabla del 7 */
.Tabla7{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}


/* Tabla del 8 */
.Tabla8{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}


/* Tabla del 9 */
.Tabla9{
    color: black;
    font-weight: bolder;
    padding: 6px;
    box-shadow: -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,1);
}