body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navegador menú */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items{
    list-style-type: none;
    padding: 20px;
    font-weight: bold;
    
}

.div-ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}

.icon-login{
    display: flex;
    padding-left: 20px;
    scale: 1.2;
}

.logo{
    font-weight: bold;
    border: solid black 2px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;

}


/* Header 1*/
