body {
  margin: 0;
  color: aliceblue;
  background-image:url(photo-1457369804613-52c61a468e7d.jpeg);
}

main {
  background-color: brown;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 1px 130px;
  box-shadow: black 30px;
}

h1 {
  border: yellow solid 4px ;
  font-family: Doto;
  color: white;
}

h2 {
  color: white;
  border: #e60a4c solid 7px;
}

#datos,#contenido {
  color: #4c7cc4;
  border: rgb(115, 189, 5) solid 4px;
  font-weight: 700;
  padding: 0px 3px;
  
}



#descripcion {
  background-color:rgb(57, 57, 143);
  padding:50px 40px 50px 40px;
  text-align: center;
 
}

#descripcion>h2{
  border:none;
  color:rgb(250, 165, 7);
}

ul>li{
  margin:20px;
  padding top:0;
  
}

main>div>h1{
  padding:0px 10px;
}