body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}




/* Tablas general */
.TablasDeMultiplicar{
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 20px;
    
}

.Tabla1{
    background-color:rgb(240, 236, 35);
    color: black;
    font-weight: bolder;
}

.Tabla2{
    background-color: rgb(4, 196, 196);
    color: black;
    font-weight: bolder;
}

.Tabla3{
    background-color: rgb(233, 189, 229);
    color: black;
    font-weight: bolder;
}

.Tabla4{
    background-color:rgb(173, 201, 145);
    color: black;
    font-weight: bolder;
}
    
.Tabla5{
    background-color:rgb(192, 196, 224);
    color: black;
    font-weight: bolder;
}

.Tabla6{
    background-color: rgb(247, 179, 190);ç
    color: black;
    font-weight: bolder;
}

.Tabla7{
    background-color: rgb(75, 181, 243);
    color: black;
    font-weight: bolder;
}

.Tabla8{
    background-color: aquamarine;
    color: black;
    font-weight: bolder;
}

.Tabla9{
    background-color:lavender;
    color: black;
    font-weight: bolder;
}