body {
    width: 1440px;
    height: 1024px;
    box-shadow: 0px 2px 34px 0px rgba(0,0,0,0.75);
    background-image: url(/prototips/prototip_9/multimedia/unsplash_xB4ExGcUai0.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Montserrat", sans-serif;
}


.custom-block{
    display: flex;
    justify-content: space-between;
}


.text-custom{
    flex-direction: column;
    
}


