/* Centrar elementos en el contenedor principal */
.container-master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    min-height: 100vh; 
    margin: 0;
    background-color: #9C2004;
    font-family: Impact, sans-serif;
}

/* Estilos para la elipse */
.elipse {
    width: 656px;
    height: 656px;
    position: relative;
    margin-right: 50px;
}

.elipse-img {
    width: 100%;
    height: auto;
}

.imagen-encima {
    width: 80%; 
    height: auto;
    position: absolute;
    bottom: -135px; 
}

/* Contenedor de texto */
.Text-contenedor {
    text-align: center;
    color: white;
}

.Text-contenedor h1 {
    line-height: 1.5;
    font-size: 60px;
    letter-spacing: 1px;
}

.Text-contenedor p {
    line-height: 1.8;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    max-width: 300px;
    margin: 0 auto;
}

/* Estilos del botón */
button {
    padding: 15px 30px;
    background-color: #E5B94B;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
}
