body{
    margin: 0;
    color: aliceblue;
    font-family: sans-serif;
}

/* Menú */

.Header{
   width: 100%;

}

.Header-nav{
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.nav-ul{
    display: flex;
    justify-content:center;
    align-items: center;  
    gap: 100px;     
}

.list-item{
    font-weight: 800;
    padding: 7px;
    list-style-type: none;
    border:whitesmoke solid 3px;
    border-radius: 10px;
    
}

.list-item:hover{
    background-color: rgb(156, 8, 8);
    border-radius: 15px;
    padding: 7px;
    border: whitesmoke solid 3px;
    border-radius: 10px;
    }


/* main */

.main{
    color: black;
    font-family: sans-serif;
    display: flex; 
}

.main-div{
    text-align: center;
}

h1{
    text-decoration: underline;
}

.parraf{
    text-align:justify;
}


/* video */
.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    display: block;
    margin:auto;
    border-radius: 10px;
    margin-top:30px;
}

@media (max-width: 768px) {
    .nav-ul {
        flex-direction: column;
        gap: 20px;
    }

    .main {
        flex-direction: column;
    }

    .video-container {
        flex-direction: column;
    }
}



/* Footer */

.Footer{
    width: 100%;
    background-color:#000;
    padding: 30px;
    text-align: center;
    font-weight: 800;
    bottom: 0;
    position: fixed;
    margin:0;
}


