body{
    background-color:aliceblue;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: cadetblue;
    padding: 30px;
    margin-bottom: auto;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    border: solid black 5px;
}

main{
    text-align: center;
    justify-content: space-around;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: auto;
}


img{
    border-radius: 20px;
    width: 100%;
}


.card{
    background-color:floralwhite;
    padding: 20px;
    border: black solid;
    font-weight: bolder;
    border-radius: 30px;
    box-shadow: 31px 10px 5px 0px rgba(0,0,0,0.75);
    width: 20%;
    transition: .5s;
    transition-property: width, box-shadow;
}

.card:hover {
    width: 30%;
    box-shadow: 0 0 10px 10px rgb(16, 100, 196);
}

footer{
    font-weight: bolder;
    font-size: large;
    text-align: center;
    background-color: cadetblue;
    padding: 40px;
    border: solid black 5px;
    text-transform: capitalize;
}